
/*
html, body {
  height: 100%;
  width: 100%;
}
*/
h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}


h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}


h3 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}


h4 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}


p {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

/*
.wrapper {
  cursor: url('catcursor.png');
}
*/
/* TODO: work on adding custom cursor for main pages when hovor */

/*picture styling*/

* {
	margin: 0;
	padding: 0;
  list-style: none;
  text-decoration: none;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.smaller-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TODO: add the sizing for the smaller logo (will not be in the middle of the page) */



/*PAGE CONTENT STYLES -SHORTER PAGES*/

.content-area-simple {

	width: 100%;
	background:  #C5DBC9;
	height: 1100px;
}






.footer {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner-footer .logo-container {
  width: 15%;
  float: left;
  height: 100%;
  diplay: block;
}

.inner-footer .logo-container img {
  width: 30px;
  height: auto;
}

.inner-footer .footer-third {
  width: 115px;
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child {
  margin-right: 0;
}

.inner-footer .footer-third h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  font-weight: 200;
  color: white;
  display: block;
  width: 100%;
  padding-bottom: 5px;
}






a:link {
  color:  black;
  text-decoration: none;

}

a:link img {
  color:  #C5DBC9;
  text-decoration: none;
}


a:hover {
  color: black;
  text-decoration: none;
  cursor: url('catcursor.png'), auto;
}

a:hover img{
  color: black;
  text-decoration: none;
  cursor: url('catcursor.png'), auto;
}

a:active {
  color: black;
  text-decoration: underline;
}

a:visited img{
  color: #C5DBC9;
  text-decoration: none;
}

a:visited:hover img{
  color: black;
  text-decoration: none;
}

.callout {
  position:fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 10px;
  background-color: #ccc;
  color: black;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  cursor: url('catcursor.png'), auto;
}